* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Heebo Regular";
  src: url(../fonts/heebo-v20-latin-regular.ttf);
}

@font-face {
  font-family: "Heebo Medium";
  src: url(../fonts/heebo-v20-latin-500.ttf);
}

@font-face {
  font-family: "Heebo Bold";
  src: url(../fonts/heebo-v20-latin-700.ttf);
}

@font-face {
  font-family: "Heebo Black";
  src: url(../fonts/heebo-v20-latin-900.ttf);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 140px;
}

.header__item {
  font-family: "Heebo Medium";
  font-size: 20px;
  line-height: 29px;
  color: #000;
  margin-right: 33px;
}

.header__item:hover, .header__item:focus, .header__item:active {
  opacity: .75;
}

.header__item:last-child {
  margin-right: 60px;
}

.header__link {
  color: #000;
}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.first__link {
  color: #FF6464;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title {
  font-family: "Heebo Bold";
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  margin-bottom: 55px;
}

.main__card-title {
  font-family: "Heebo Medium";
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  margin-bottom: 16px;
}

.main__card-date {
  font-family: "Heebo Regular";
  font-size: 20px;
  line-height: 29px;
  color: #21243D;
  display: inline-block;
}

.main__card-desc {
  display: inline-block;
  font-family: "Heebo Regular";
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
  margin-bottom: 15px;
}

.main__card-subtitle {
  font-family: "Heebo Regular";
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
  margin-bottom: 29px;
}

.main__card-border {
  border: 1px solid #E0E0E0;
  margin-bottom: 29px;
}

.wrapper {
  max-width: 856px;
  margin: 0 auto;
}

.footer {
  padding-bottom: 54px;
}

.footer__list {
  padding-top: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  margin-right: 30px;
  margin-bottom: 26px;
}

.footer__item:last-child {
  margin-right: 0px;
}

.footer__desc {
  text-align: center;
  font-family: "Heebo Regular";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
  padding-bottom: 54px;
}

.wrapper {
  max-width: 856px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .main__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .main__title {
    padding-top: 82px;
    text-align: start;
    margin-left: 18px;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    color: #21243D;
  }
  .main__card-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-left: 18px;
    margin-bottom: 5;
  }
  .main__card-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-left: 18px;
  }
  .main__card-desc {
    font-size: 16px;
    line-height: 24px;
    color: #8695A4;
    margin-bottom: 17px;
  }
  .main__card-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-left: 18px;
    max-width: 340px;
    margin-bottom: 24px;
  }
  .main__card-border {
    margin-bottom: 18px;
  }
  .footer {
    padding-bottom: 54px;
  }
  .footer__list {
    padding-top: 108px;
  }
  .footer__desc {
    padding-bottom: 54px;
  }
  .header__burger {
    display: block;
    position: fixed;
    margin-top: 20px;
    margin-right: 18px;
    top: 0;
    right: 0;
    width: 40px;
  }
}
