@import "nullstyles.scss";


//Шрифты
@font-face {
  font-family: "Heebo Regular";
  src: url(../fonts/heebo-v20-latin-regular.ttf);
}
@font-face {
  font-family: "Heebo Medium";
  src: url(../fonts/heebo-v20-latin-500.ttf);
}
@font-face {
  font-family: "Heebo Bold";
  src: url(../fonts/heebo-v20-latin-700.ttf);
}
@font-face {
  font-family: "Heebo Black";
  src: url(../fonts/heebo-v20-latin-900.ttf);
}

//Шрифт по умолчанию
$fontfamilyRegular: "Heebo Regular";
$fontfamily500: "Heebo Medium";
$fontfamily700: "Heebo Bold";
$fontfamily900: "Heebo Black";

//Переменные
$max-width: 856px;

.header {
  &__nav {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 140px;
    
  }

  &__item {
    font-family: $fontfamily500;
    font-size: 20px;
    line-height: 29px;
    color: #000;
    margin-right: 33px;
  }
  &__item:last-child{
    margin-right: 60px;
    
  }

  &__item:hover,&__item:focus,&__item:active{
    opacity: .75;
  }


  &__link{
    color: #000;
  }
    &__burger{
    width: 40px;
  height: 28px;
  position: relative;
  display: none;
  }

  .burger__line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  // left: 0;
}
.burger__line_first{
  // top: 0;
}
.burger__line_second{
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third{
bottom: 0;
}
  .wrapper {
}


		&__wrapper {
      max-width: $max-width;
      margin: 0 auto;
		}

		&__title {
      max-width: 430px;
      font-family: $fontfamily700;
      font-size: 44px;
      line-height: 60px;
      color: #21243D;
		}
    &__title-item2{
      font-family: $fontfamily700;
      font-size: 44px;
      line-height: 60px;
      color: #21243D;
    }

		&__subtitle {
      font-family: $fontfamilyRegular;
      font-size: 16px;
      line-height: 24px;
      color: #21243D;
      max-width: 450px;
      margin-bottom: 47px;
      
     
      
		}

		&__photo {
      display: block;
      float: right;
      // margin-top: -227px;
      
     
		}

		&__button {
    width: 208px;
    height: 47px;
    font-family: $fontfamily500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF6464;
    border-radius: 2px;
    padding: 9px 20px 17px 21px;
    margin-bottom: 71px;
		}

    &__button:hover, &__button:focus, &__button:active{
      opacity: .75;
    }

    .header__active{
      background: #000;
    }
}

//MAIN


    .main {

		&__recent-background {
      background-color: #EDF7FA;;
		}

		&__recent-wrapper {
      max-width: $max-width;
      margin: 0 auto;
		}
    &__recent-list{
      display: flex;
      flex-wrap: wrap;
       justify-content: space-between
      
    }

    &__recent-item:last-child{
     align-self: flex-end;
     justify-content: end;
     
    }


		&__recent-title {
      font-family: $fontfamilyRegular;
      font-size: 22px;
      line-height: 60px;
      color: #21243D;
		}

		&__recent-link {
      font-family: $fontfamilyRegular;
      font-size: 16px;
      line-height: 60px;
      text-align: right;
      color: #00A8CC;
      
		}

      &__recent-link:hover, &__recent-link:focus, &__recent-link:active{
      opacity: .75;
    }

		&__cards {
      display: flex;
      
		}

		&__card {
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    max-width: 600px;
    margin-right: 20px;
    margin-bottom: 32px;
		}

		&__card-title {
    max-width: 518px;
    font-family: $fontfamily700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    padding-left: 23px;
    padding-top: 24px;
    padding-right: 21px;
    padding-bottom: 17px;

		}

		&__card-date {
      font-family: $fontfamilyRegular;
      font-size: 18px;
      line-height: 26px;
      color: #21243D;
      padding-left: 23px;
      padding-right: 21px;
      padding-bottom: 11px;

		}

		&__card-subtitle {
      font-family: $fontfamilyRegular;
      font-size: 16px;
      line-height: 24px;
      color: #21243D;
      padding-left: 23px;
      padding-right: 21px;
      padding-bottom: 11px;
      max-width: 418px;
		}
}

//FEATURED START
.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}
.featured-title {
   font-family: $fontfamilyRegular;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}
.featured-cards {
  
}
.featured {

		&__card {
     margin-bottom: 31px;
      border-bottom: 1px solid #E0E0E0;
		}


    &__card-photo-1{
       float: left;
       margin-right: 18px;
    }
     &__card-photo-2{
       float: left;
        margin-right: 18px;
    }
     &__card-photo-3{
       float: left;
      margin-right: 18px;
    }
   
		&__card-title {
    font-family: $fontfamily700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
		}

    &__card-icons{
      display: flex;
      flex-wrap: wrap;
      
    }

		&__card-icon {
      margin-bottom: 16px;
		}

		&__card-iconsubtitle {
    padding-top: 15px;
    margin-left: 26px;
    position: relative;
    overflow: hidden;
    font-family: $fontfamilyRegular;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
 
		}

		&__card-subtitle {
      font-family: $fontfamilyRegular;
      font-size: 16px;
      line-height: 24px;
      color: #21243D;
      margin-bottom: 25px;
     
     
		}
    
}
.featured-photo {
}


.footer {
padding-bottom: 54px;
		&__list {
      padding-top: 134px;
      display: flex;
      flex-wrap: wrap;
     justify-content: center;
     
     
      
		}

		&__item {
      margin-right: 30px;
      margin-bottom: 26px;
		}

    	&__item:last-child{
        margin-right: 0px;
      }

  


		


		&__desc {
      text-align: center;
      font-family: $fontfamilyRegular;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #21243D;
      
		}
}
.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}


  /* Media start */
  @media screen and (max-width: 960px) {
    .header{
      &__photo{
        margin-right: 15px;
      }
      &__title{
      margin-left: 55px;
      }
      &__title-item2{
        margin-left: 55px;
      }
      &__subtitle{
        margin-left: 55px;
      }
      &__button{
        margin-left: 55px;
      }
    }
    .main{
      &__recent-list{
        justify-content: center;
      }
      &__recent-link{
        display: none;
      }
      &__recent-title{
         
      }
    }
    .featured-title{
      text-align: center;
    }
    .footer{
      &__list{
        padding-top: 50px;
      }
    }
  }


   @media screen and (max-width: 767px){
    .header__nav{
      display: none;
    }
    .header{
        display: flex;
        margin: 0 auto;
        
      
      
      &__title{
       margin: 0 auto;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
       
        
        
      }
      &__photo{
        padding-top: 82px;
        float: none;
         margin: 0 auto;
         margin-bottom: 34px;
       
      
      
      }
      &__title-item2{
        text-align: center;
        max-width: 245px;
         margin: 0 auto;
         font-size: 32px;
        line-height: 40px;
      }
      &__subtitle{
        margin-top: 21px;
        text-align: center;
        max-width: 370px;
        padding-right: 45px;
        font-size: 16px;
        line-height: 24px;
         
      }

      &__button{
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 59px;

      }
    }
    .header__wrapper{
      
    }

    .main{
      &__cards{
        display: block;
        padding-left: 11px;
        padding-bottom: 20px;
       
      }
      &__card{
         margin: 0 auto;
         margin-bottom: 17px;
         
      }
      &__card-title{
      padding: 0;
      font-size: 22px;
      line-height: 30px;
      display: block;
      margin: 0  auto;
      text-align: center;
      padding-top: 12px;
      }
      &__card-date{
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      padding-top: 12px;
      }
      &__card-subtitle{
      font-size: 16px;
      line-height: 24px;
      
      display: block;
      margin: 0 auto;
      
      }
    }
    .featured{
      
     &__card{
      margin-bottom: 201px;
     }

     &__card-icons{
    justify-content: center;
     }

     &__card-title{
      text-align: center;
     }

     &__card-subtitle{
      font-size: 16px;
      line-height: 24px;
      max-width: 340px;
      // margin:  0 auto;
      
     }

     &__card-subtitle{
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
     }
    
     &__card-2{
      display: none;
     }
     &__card-3{
      display: none;
     }
    }
     .featured-title{
        font-weight: 400;
        font-size: 18px;
      }
      .featured-cards{
        margin: 0 auto;
      }
      .featured__card-photo-1{
        float: none;
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        
      }
     
      .footer{
        padding-bottom: 54px;
        &__desc{
          padding-bottom: 54px;
        }
      }

      //BURGER
      .header__burger{
        display: block;
        position: fixed;
       margin-top: 20px;
       margin-right: 18px;
       top: 0;
       right: 0;
       width: 40px;
       
      
       
    
       
        
        
      } 
      

   }
  


